body {
    background-color :aqua
}

h1 {
    color:black;
}


.shadow-text {
    text-shadow: black 5px 5px;
}

#large-paragraph {
    font-size: 30px;
}

.hov {
    height:5px;
    width: 5px;
    background-color: blueviolet;
}

table {
    border-collapse: collapse;
    width: 25%;
}

th, td { 
    padding: 25px;
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 25x;
}


#box-model {
    padding: 10px;
    border-style: solid;
    border-width: 10px;
    margin: 10px;
    background-color: lightcyan;
}

body {
    margin: auto;
    width: 640px; 
    padding: 50px;
    font-family: 'Avenir', sans-serif; 
    color: #33475b;    
  }

  #shadow {
    text-decoration-color: blue;
    text-decoration: double, solid;
    text-shadow: 15px, 15px;
  }

.underline {
    text-decoration: underline, black;
}

